<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/news.css' %}">
</head>
<body>
    <h2>{{info5}}</h2>
    <h2>{{info6}}</h2>
    <img src="{% static '/images/analyst.jpeg' %}" alt="">
    <img src="{% static '/images/developer.jpeg' %}" alt="">
    <img src="{% static '/images/Hacker.jpeg' %}" alt="">
</body>
</html>