<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/news.css' %}">
</head>
<body>
    <h2>{{info3}}</h2>
    <h2>{{info4}}</h2>
    <img src="{% static '/images/cricket.jpeg' %}" alt="">
    <img src="{% static '/images/football.jpeg' %}" alt="">
    <img src="{% static '/images/basketball.jpeg' %}" alt="">
</body>
</html>